<body>
  <header class="header">
    <div class="navtext-container">
      <div class="navtext">ANC University System</div>
    </div>
    <input type="checkbox" class="menu-btn" id="menu-btn">
    <label for="menu-btn" class="menu-icon"><span class="navicon"></span></label>
    <ul class="menu">
      <a [routerLink]="['/student']" routerLinkActive="router-link-active"><li>Student</li></a>
        <a [routerLink]="['/course']" routerLinkActive="router-link-active"><li>Courses</li></a>
    </ul>

  </header>

</body>




